$wp-admin-padding: 20px;
$wp-admin-meta-width: 280px;
$wp-admin-meta-allowance: $wp-admin-padding + $wp-admin-meta-width;
$wp-admin-meta-bg: #f5f5f5;
$wp-admin-meta-border-color: #e5e5e5;

.wrap {
	padding-right: $wp-admin-meta-allowance;
}

#poststuff #post-body.columns-2 {
	margin-right: 0;
}

#post-body.columns-2 #postbox-container-1 {
	position: fixed;
	right: 0;
	top: 32px;
	bottom: 0;
	float: none;
	width: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	background: $wp-admin-meta-bg;
	border-left: 1px solid $wp-admin-meta-border-color;
	margin-right: 0;

	#side-sortables {
		width: 100%;
	}
	.postbox {
		border-left: 0;
		margin-bottom: 0;

		&.closed {
			background: $wp-admin-meta-bg;
		}
		&:not(:last-child) {
			border-bottom-width: 0;
		}
		&:first-child {
			border-bottom-width: 2px;
		}
	} // .postbox
} // #post-body.columns-2 #postbox-container-1
